<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Transco a Transportation Category Bootstrap responsive WebTemplate | 404 :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Transco a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>

	<!--/banner-->
	<div class="banner-inner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- search -->
				<div class="search">
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li>
								<a class="cd-search-trigger" href="#cd-search">
									<span></span>
								</a>
							</li>
						</ul>
					</div>
					<div id="cd-search" class="cd-search">
						<form action="#" method="post">
							<input name="Search" type="search" placeholder="Click enter after typing...">
						</form>
					</div>
				</div>
				<!-- //search -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link ml-lg-0" href="index.html">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gallery.html">Gallery</a>
						</li>
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Dropdown
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="team.html">Team</a>
								<a class="dropdown-item text-center" href="404.html">Services</a>

							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner-text -->
		<div id="wrapper">

		</div>
	</div>
	<!-- //banner -->
	<!--//nav-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">Home</a>
		</li>
		<li class="breadcrumb-item active">404</li>
	</ol>
	<!--/main-->
	<section class="banner-bottom-agile-w3ls">
		<div class="error-404">
			<h4>404</h4>
			<p>Oops ! Nothing to See here.</p>
			<form action="#" method="post">
				<input class="form-control" class="serch" type="search" name="serch" placeholder="Search here" required="">
				<button class="btn1">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
				<div class="clearfix"> </div>
			</form>
			<div class="error social-icons">

			</div>
			<a class="b-home btn" href="index.html">Back to Home</a>
		</div>


	</section>
	<!--//main-->

	<!--footer-->
	<footer>
		<div class="container">
			<div class="footer-top-agileits-w3ls text-center">
				<h2 class="logo">
					<a href="index.html">
						<i class="fas fa-cubes"></i> Transco</a>
				</h2>
				<p class="para three mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus
					efficitur in, auctor eget elit. Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus at placerat ante.
					Praesent nulla nunc</p>
			</div>
			<div class="subscribe-grid text-center">
				<h5>Subscribe for our latest updates</h5>
				<p>Get
					<span>10%</span> off on booking</p>
				<form action="#" method="post">
					<input class="form-control" type="email" placeholder="Subscribe" name="Subscribe" required="">
					<button class="btn1">
						<i class="far fa-envelope"></i>
					</button>
				</form>
			</div>
			<div class="row footer-bottom-wthree-agile">
				<div class="col-lg-6 copyright">
					<p>&copy; 2018 Transco . All Rights Reserved | Design by
						<a href="http://w3layouts.com/"> W3layouts </a>
					</p>

				</div>
				<div class="col-lg-6 social-icon footer text-right">
					<div class="icon-social">
						<a href="#" class="button-footr">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="button-footr">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="button-footr">
							<i class="fab fa-dribbble"></i>
						</a>
						<a href="#" class="button-footr">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
			<!-- //footer -->
		</div>
	</footer>
	<!---->
	<!-- js -->
	<script  src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script  src="js/move-top.js"></script>
	<script  src="js/easing.js"></script>
	<script >
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script >
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script  src="js/bootstrap.js"></script>


</body>

</html>