<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<link rel="icon" href="{% static 'favicon_new.ico' %}">
	<title>Nimrit Foundation - A social activist way of Online shopping, booking, rechareges, Bill Payments, Utilitity Payments | About :: Charity don't need your cash money, we earn donation on every purchase made by You</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Transco a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{{STATIC_URL}}bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="{{STATIC_URL}}style.css" rel='stylesheet' type='text/css' />
	<!-- <link href="{{STATIC_URL}}fontawesome-all.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>

	<!--/banner-->
	<div class="banner-inner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- search -->
				<div class="search">
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li>
								<a class="cd-search-trigger" href="#cd-search">
									<span></span>
								</a>
							</li>
						</ul>
					</div>
					<div id="cd-search" class="cd-search">
						<form action="#" method="post">
							<input name="Search" type="search" placeholder="Click enter after typing...">
						</form>
					</div>
				</div>
				<!-- //search -->

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="{% url 'home' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'stores-list' '3' %}" class="nav-link">Electronics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'blog-list' %}">Blogs</a>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								About US
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="{% url 'team' %}">Team</a>
								<a class="dropdown-item text-center" href="{% url 'about-us' %}">About US</a>
								<a class="dropdown-item text-center" href="{% url 'gallery' %}">Gallery</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Projects
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="">Cloth Giving</a>
								<a class="dropdown-item text-center" href="">Digital Centers</a>
								<a class="dropdown-item text-center" href="">Residential Campus</a>
								<a class="dropdown-item text-center" href="">Digital Library</a>

							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'contact-us' %}">Contact</a>
						</li>
						{% if request.user.is_authenticated %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								    aria-expanded="false">
									Account
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" href="{% url 'update-user-profile' request.user.pk %}">Profile</a>
									<a class="dropdown-item text-center" href="{% url 'user-favourite-stores' %}">Favourites Stores</a>
									<a class="dropdown-item text-center" href="{% url 'user-favourite-offers' %}">Favourites Offers</a>
									<a class="dropdown-item text-center" href="{% url 'user-approved-donations' %}">Donations</a>
									<div class="dropdown-divider"></div>
									<a href="{% url 'logout' %}" class="dropdown-item text-center">Logout</a>
								</div>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'login' %}">LogIn</a>
							</li>
						{% endif %}
						
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner -->
		<div class="wrapper-inner">
			<h3 class="logo text-center">
				<a class="navbar-brand" href="{% url 'home' %}">
					<i class="fas fa-hands"></i> Nimrit <small>Foundation</small>
				</a>
			</h3>
			<h5 style="font-weight: bold; color: #ffffff;" class="text-center">We educate poor children about life and creative skills to rise above the ocean of poverty.</h5>
		</div>
	</div>
	<!-- //banner -->
	<!--//nav-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'home' %}">Home</a>
		</li>
		<li class="breadcrumb-item active">About</li>
	</ol>
	<!--/main-->
	<!--/banner-bottom-agile-w3ls-->
	<section class="banner-bottom-agile-w3ls">
		<div class="container">
			<h3 class="tittle-w3ls text-center">What we do</h3>
			<p class="text-center"><bold>Mission :</bold> We secure and transform the future of orphan and poor children using technology.</p>
			<div class="row inner-sec-w3layouts-agileits">
				<div class="col-lg-6 about-img">
					<img src="{{STATIC_URL}}banners/first.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-lg-6 about-info text-left">
					<h4 class="sub-hd mb-4">What problem are we solving?</h4>
					<p>NGO’s and Govt. bodies working for welfare of poor or orphaned children are right now only providing education and support till intermediate level. In most of the cases these children are not able to get higher education or employment due to the lack of professional training and expertise. Resources used on these children goes to waste because they once again return to homelessness, poverty and unemployment.</p>
					<p class="sup-para mt-2">Orphanages, NGOs and Govt. Institutions are providing basic standard education to these children till intermediate school level. Govt. schemes are provided to support higher education of these children, but only a few of them are able to secure their future.</p>
					<div class="view my-4">
						<!-- <a href="single.html" class="btn btn-primary read-m" data-toggle="modal" data-target="#exampleModalCenter">View More</a> -->
					</div>
					<!-- <img src="{{STATIC_URL}}banner3.jpg" class="img-fluid rounded" alt=""> -->
				</div>


				<div class="col-lg-6 about-info text-left">
					<h4 class="sub-hd mb-4">What is our solution approach </h4>
					<p>We offer a solution in which orphan and poor children will get education / training of professional software, web development, app development, software engineering, marketing, sales and other professional courses to prepare them according to industry level expertise</p>
					<p class="sup-para mt-2">Professional courses on software, marketing and entrepreneurship will allow these unprivileged children to have a part-time or freelance job while continuing their higher studies. Entrepreneurship courses can inspire them to innovate and take risks and provide solutions to the world’s largest problems.</p>
					<div class="view my-4">
						<!-- <a href="single.html" class="btn btn-primary read-m" data-toggle="modal" data-target="#exampleModalCenter">View More</a> -->
					</div>
				</div>
				<div class="col-lg-6 about-img">
					<img src="{{STATIC_URL}}banners/third.jpg" class="img-fluid rounded" alt="">
				</div>

			</div>
		</div>
	</section>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-lg" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title text-center" id="exampleModalLongTitle">We provide quality education to orphan and poor children.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="{{STATIC_URL}}banner3.jpg" class="img-fluid rounded" alt="">
					<h4>Quality education through one-on-one mentoring and teaching</h4>
					<p>NGO’s and Govt. bodies working for welfare of poor or orphaned children are right now only providing education and support till intermediate level. In most of the cases these children are not able to get higher education or employment due to the lack of professional training and expertise. Resources used on these children goes to waste because they once again return to homelessness, poverty and unemployment.</p>

					<p>Orphanages, NGOs and Govt. Institutions are providing basic standard education to these children till intermediate school level. Govt. schemes are provided to support higher education of these children, but only a few of them are able to secure their future.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	<!--//banner-bottom-agile-w3ls-->
	<!--/services-->
	<section class="banner-bottom-agile-w3ls services">
		<div class="container">
			<h3 class="tittle-w3ls cen text-center">Our Programs & Services</h3>
			<div class="row inner-sec-w3layouts-agileits">
				<div class="col-lg-6 service-in text-center">
					<div class="card">
						<div class="card-body">
							<i class="fas fa-book"></i>
							<h5 class="card-title">Life Skills & Creative Education</h5>
							<p class="card-text">We provide life skills & creative education to the unprivilidged children. This will help them become a better decision maker, leader and elite personality. Education is provided on no-time bound manner.</p>
							<div class="view my-4">
								<!-- <a href="single.html" class="btn btn-primary read-m" data-toggle="modal" data-target="#exampleModalCenter">Read More</a> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 service-in  text-center">
					<div class="card">
						<div class="card-body">
							<i class="fas fa-desktop"></i>
							<h5 class="card-title">Virtual Classes</h5>
							<p class="card-text">We setup digital labs acrosss our centers where anyone interested student can study online through video courses or they can be taught by an available vounteer teacher. This will provide opportunity to the remote poor students.</p>
							<div class="view my-4">
								<!-- <a href="single.html" class="btn btn-primary read-m" data-toggle="modal" data-target="#exampleModalCenter">Read More</a> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 service-in  text-center mt-4">
					<div class="card">
						<div class="card-body">
							<i class="fas fa-gift"></i>
							<h5 class="card-title">Clothes & Shoes Giving</h5>
							<p class="card-text">As an environmental issue, we recycle the old clothes and shoes, so that these clothes can be used by the needy people. In future we are also planning to refurbish shoes, and then they will be distributed.</p>
							<div class="view my-4">
								<!-- <a href="single.html" class="btn btn-primary read-m" data-toggle="modal" data-target="#exampleModalCenter">Read More</a> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 service-in text-center mt-4">
					<div class="card">
						<div class="card-body">
							<i class="fas fa-handshake"></i>
							<h5 class="card-title">Professional Services</h5>
							<p class="card-text">We provide professional service like - Web Development, App Development and Software Development services to our clients for a minimum fees. We also provide consultancy in the field of virtual classes.</p>
							<div class="view my-4">
								<!-- <a href="{% url 'contact-us' %}" class="btn btn-primary read-m">contact-us</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//services-->
	<!--/features-->
	<section class="banner-bottom-agile-w3ls">
		<div class="feature-main container-fluid text-left">
			<div class="row">
				<div class="col-lg-3 feature text-left">
					<h3>Recent Blogs</h3>
					<p class="card-text">Read our amazing news & updates. Our goal is to impact millions of unprivilidged lives by providing resources to them. In this you are also a part of our movement so please do give a read to our articles. </p>
					<div class="view my-4">
						<a href="{% url 'blog-list' %}" class="btn btn-primary read-m">View All</a>
					</div>
				</div>
				<div class="col-lg-3 card feature text-left">
					<img src="{{STATIC_URL}}banners/first.jpg" alt=" " class="img-fluid rounded" />
					<h5 class="card-title"><a href="">The history of Indian Education System?</a></h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna..</p>
					<div class="view my-4">
						<a href="{% url 'blog-details' '1' %}" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
				<div class="col-lg-3 card feature text-left">
					<img src="{{STATIC_URL}}banners/second.jpg" alt=" " class="img-fluid rounded" />
					<h5 class="card-title"><a href="">How our education system is failing?</a></h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna..</p>
					<div class="view my-4">
						<a href="{% url 'blog-details' '1' %}" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
				<div class="col-lg-3 card feature text-left">
					<img src="{{STATIC_URL}}banners/third.jpg" alt=" " class="img-fluid rounded" />
					<h5 class="card-title"><a href="">Join our movement to change the lives of millions !</a></h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna..</p>
					<div class="view my-4">
						<a href="{% url 'blog-details' '1' %}" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//features-->

	 <!-- FAQ 
    =================-->
    <section id="faq" class="faq" style="margin-top: 5%;">
      <div class="container-fluid"> 
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="faq-cont">
              <div class="faq-heading">
				<div class="search-result bg-gray">
						<h2>Frequently Asked Questions</h2>
						<p>Find the answer to all your questions. please read the following to know more about us.</p>
					</div>
				</div>
               	<div class="heading-border-light" style="background:#fff;"></div>
              </div>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0 card-title">
                        <div class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <i class="fa fa-long-arrow-right"></i>
                          Who are we? 
                        </div>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <p class="card-text">
                        	We are a not-for-profit social enterprise which is working in the remote areas to help the poor children to pursue their respective interests. We are professionals in different fields like engineering, computer science and computing, who have common interest to tackle the problem of lack of creative and life skills education to the children who are not good at grads. We help the poor grade students as well poor and higher grades students to help them achieve more through introducing them to technology. The only problem we see is the lack of instrastructure and money. So we provide digital libraries to help students to learn themselves through the knowledge of web. Other projects including sports training, instrastructure and employment will be our main focused projects.
                        </p>. 
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="fa fa-long-arrow-right"></i>
                          What we do? 
                        </div>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol type="a">
                       			<li>
                       				<p class="card-text">
                       					We provide digital libraries facilities in a particular center, where computers with internet connectivity and web cameras facilities are installed. We provide quality education through our virtual classroom technology to the children who are excellent or average on studies. Our virtual class technology will be available 18 hours a day, which is divided in slots. Our volunteer teachers from across top education institutes students, professionals and businessman signup for volunteer teacher positions.
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">In our coming years we will setup sports instrastructure where children will be professionally trained to become our future sports champions. We are also planning to open low cost residential   facility to our sports children so that they can focus more on their training.</p>
                       			</li>
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-2 -->

                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="fa fa-long-arrow-right"></i>
                          Whom do we benefit and How?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol type="a">
                       			<li>
                       				<p class="card-text">
                       					Since we provide our facilities to the unprivileged and poor students in terms of grads as well as financials, we provide our services to every needy students and we do not distinguish based upon religion, caste and creed. 
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">
                       					We will students who are good in sports to become our future champions, so our volunteer sports persons will provide training to our students, beneficiary students to sports and other programs will be selected solely on interest based. We charge a minimum fee to the students for every year. In case fees are not available to the family we exempt their annual fees.
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">
                       					Beneficiary students will have to return their dues to our organization once are earning well in their lives. In case of non-employment of our student we do not charge our dues.
                       				</p>
                       			</li>
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-3 --> 

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <i class="fa fa-long-arrow-right"></i>
                          How your shopping helps us raise funds?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol >
                       			<li>
                       				<p class="card-text">
                       					Every shopping of yours provide us some portion of your shopping amount as a charity donation, these donations funds will be used to build and scale our centers. 
                       				</p>
                       			</li>
                       			
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-4 --> 

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <i class="fa fa-long-arrow-right"></i>
                          How will you spent the raised funds on your online shopping?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol >
                       			<li>
                       				<p class="card-text">
                       					We have partnered up with hundreds of online shopping sellers across the country as well as abroad, these sellers provide us some portion of every shopping, recharge or booking you do with us. 
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">
                       					So we are requesting all of you to visit our website and find the desired online seller then go to the online seller before every shop, recharge or booking you do. This is the only we are hoping to raise most of the funds for our projects. 
                       				</p>
                       			</li>
                       			
                       			<li>
                       				<p class="card-text">
                       					We also provide directly fund one of our projects through crowdfunding on our website. You can find the crowdfunding campaigns of one of our projects on the project page itself. We provide some basic rewards on every contribution you make to fund our projects.  
                       				</p>
                       			</li>

                       			<li>
                       				<p class="card-text">
                       					Members contribution to our funds will be our additional funds which will be used to manage the operational costs of our organization. Everyone is welcome to become our member and help us raise new heights In our vision of empowering poor lives. Please find our members form and fill up and submit, we reach you as soon as possible  
                       				</p>
                       			</li>
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-5 --> 

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <i class="fa fa-long-arrow-right"></i>
                          Who will be your volunteers, teachers and daily workers?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol >
                       			<li>
                       				<p class="card-text">
                       					Every shopping of yours provide us some portion of your shopping amount as a charity donation, these donations funds will be used to build and scale our centers. 
                       				</p>
                       			</li>
                       			
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-4 --> 

                </div>
            </div>  
          </div><!-- /md-10 -->

          <div class="col-md-1"></div>

        </div>
      </div>
    </section>

	<!--footer-->
	<footer style="margin-top: 5%;">
		<div class="container">
			<div class="footer-top-agileits-w3ls text-center">
				<h2 class="logo">
					<a href="index.html">
						<i class="fas fa-hands"></i> Nimrit <small>Foundation</small></a>
				</h2>
				<p class="para three mt-4">We are a for-profit social impact company. Our company is planning to build low-cost residential centers in remote areas, where our volunteer teachers will tecah poor, unprivilidged and drop-out school children life skills and computer expertise for e.g :- Digital Library, Virtual Class Center, Group Based Studies, Sports Training and Infrastructure. etc. As our goals are to empower the lives of millions by the support of other privilidged millions, who are in position of helping others.</p>
				<p class="para three mt-2">
					We are seeking for your support to help us raise funds on your every online payments that you make. So we request everyone to shop from our website, this converts some portion of your shopping amount into donations. We strongly think that this model will be sustainable because you can do charity at "no cost to the consumer". Now educating children is click away from your thumb. Let's be part of this movement and help us impact lives of millions. 
				</p>
			</div>
			<div class="text-center">
				<a href="{% url 'category-list' %}" class="btn btn-warning btn-block" style="max-width: 625px; margin: 2% auto;">View All Stores</a> 
				<a href="{% url 'contact-us' %}" class="btn btn-warning btn-block" style="max-width: 625px; margin: 2% auto;">Contact US</a> 
			</div>
			<div class="subscribe-grid text-center">
				<h5>Subscribe for our latest programs, news and updates</h5>
				<p>Get
					<span>Latest</span> offers and deals on shopping, booking, recharges, utility payments and many more exclusive contents.</p>
				<form action="#" method="post">
					<input class="form-control" type="email" placeholder="Subscribe" name="Subscribe" required="">
					<button class="btn1">
						<i class="far fa-envelope"></i>
					</button>
				</form>
			</div>
			<div class="row footer-bottom-wthree-agile">
				<div class="col-lg-6 copyright">
					<p>&copy; 2018 Nimrit Foundation - We Educate Poor Children . All Rights Reserved | Design by
						<a href="https://www.facebook.com/dustyraju">ImpactOcean Developers</a>
					</p>

				</div>
				<div class="col-lg-6 social-icon footer text-right">
					<div class="icon-social">
						<a target="_blank" href="https://www.facebook.com/statsbotSocialInnovations/" class="button-footr">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a target="_blank" href="https://twitter.com/StatsbotI" class="button-footr">
							<i class="fab fa-twitter"></i>
						</a>
						<a target="_blank" href="https://www.linkedin.com/company/statsbot-social-innovations/" class="button-footr">
							<i class="fab fa-linkedin"></i>
						</a>
						<a target="_blank" href="https://www.instagram.com/statsbot_org/" class="button-footr">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>


			</div>
			<!-- //footer -->
		</div>
	</footer>
	<!---->
	<!-- js -->
	<script  src="{{STATIC_URL}}jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--search-bar-->
	<script src="{{STATIC_URL}}search.js"></script>
	<!--//search-bar-->
	<!--/ start-smoth-scrolling -->
	<script  src="{{STATIC_URL}}move-top.js"></script>
	<script  src="{{STATIC_URL}}easing.js"></script>
	<script >
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script >
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script  src="{{STATIC_URL}}bootstrap.js"></script>


</body>

</html>