<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Nimrit Foundation - A social activist way of Online shopping, booking, rechareges, Bill Payments, Utilitity Payments | Store - {{store.name}} :: Charity don't need your cash money, we earn donation on every purchase made by You</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Transco a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{{STATIC_URL}}bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="{{STATIC_URL}}style.css" rel='stylesheet' type='text/css' />
	<link href="{{STATIC_URL}}style_other.css" rel='stylesheet' type='text/css' />
	<!-- <link href="{{STATIC_URL}}fontawesome-all.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>

	<!--/banner-->
	<div class="banner-inner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- search -->
				<div class="search">
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li>
								<a class="cd-search-trigger" href="#cd-search">
									<span></span>
								</a>
							</li>
						</ul>
					</div>
					<div id="cd-search" class="cd-search">
						<form action="#" method="post">
							<input name="Search" type="search" placeholder="Click enter after typing...">
						</form>
					</div>
				</div>
				<!-- //search -->

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="{% url 'home' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'stores-list' '3' %}" class="nav-link">Electronics</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'blog-list' %}">Blogs</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								About US
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="{% url 'team' %}">Team</a>
								<a class="dropdown-item text-center" href="{% url 'about-us' %}">About US</a>
								<a class="dropdown-item text-center" href="{% url 'gallery' %}">Gallery</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Projects
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="">Cloth Giving</a>
								<a class="dropdown-item text-center" href="">Digital Centers</a>
								<a class="dropdown-item text-center" href="">Residential Campus</a>
								<a class="dropdown-item text-center" href="">Digital Library</a>

							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'contact-us' %}">Contact</a>
						</li>
						{% if request.user.is_authenticated %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								    aria-expanded="false">
									Account
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" href="{% url 'update-user-profile' request.user.pk %}">Profile</a>
									<a class="dropdown-item text-center" href="{% url 'user-favourite-stores' %}">Favourites Stores</a>
									<a class="dropdown-item text-center" href="{% url 'user-favourite-offers' %}">Favourites Offers</a>
									<a class="dropdown-item text-center" href="{% url 'user-approved-donations' %}">Donations</a>
									<div class="dropdown-divider"></div>
									<a href="{% url 'logout' %}" class="dropdown-item text-center">Logout</a>
								</div>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'login' %}">LogIn</a>
							</li>
						{% endif %}
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner-text -->
		<div class="wrapper-inner">
			<h3 class="logo text-center">
				<a class="navbar-brand" href="{% url 'home' %}">
					<i class="fas fa-hands"></i> Nimrit <small>Foundation</small>
				</a>
			</h3>
			<h4 style="font-weight: bold; color: #ffffff;" class="text-center">We educate poor children about life and creative skills to rise above the ocean of poverty.</h4>
		</div>
	</div>
	<!-- //banner -->
	<!--//nav-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'home' %}">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{% url 'category-list' %}">All Stores</a>
		</li>
		<li class="breadcrumb-item active">{{ store.name }}</li>
	</ol>


	<!-- Page Content -->
    <div class="container">
      <div class="row">
      	<div class="col-lg-3"></div>
  		<div class="col-lg-6">
  			
  			<div style="margin-top: 5%;">
  				
  			</div>
  		</div>

        <div class="col-lg-3"></div>
      </div>
   	</div><!-- /Container -->

    <section id="storeDetails">
    	<div class="container">
    		<div class="text-center">
				<div class="search-result bg-gray">
					<h2 class="text-center">Results for "{{ store.name }}" Exclusive Charity Offers</h2>
					<p>Your shopping provides us donations!</p>
				</div>
			</div>
    		<div class="row">
    			<div class="col-lg-3">
		          <div class="card mt-4">
		            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{store.logo_image}}" alt="" style="overflow: hidden; width: auto; height: 100px;">
		            <div class="card-body">
		              <h3 class="card-title">{{ store.name }}</h3>
		             
		              <p class="card-text">Donation Rate :- 0 <small>%</small> - 12 <small>%</small> / Transaction</p>
		              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
		              <span><a href="{{ store.home_url }}" class="btn btn-md btn-warning btn-block" target="_blank">Shop Now</a></span>
		            </div>
		          </div>
		        </div>
		        <!-- /.col-lg-3 -->

		        <div class="col-lg-9">
		        	<div class="card card-outline-secondary my-4">
			            <div class="card-header">
			              {{store.name}} Description
			            </div>
			            <div class="card-body">
			              <p>{{store.description}}</p>
			              
			            </div>
			          </div>
			          <!-- /.card -->
			    </div><!-- /col-lg-9 -->
			    <div class="col-lg-12" style="margin-top: 5%;"></div>
			    <div class="col-lg-3">
			    	<div class="card-mt-4">
			    		<div class="card-header" style="background-color: none;">
			    			<h5>How this works?</h5>
			    		</div>
			    		<div class="card-body">
			    			<p class="card-title" style="font-size: 0.95em;">It's easy and simple</p>
			    			<ul class="steps">
			    				<li style="margin-top: 2%;">

			    					<h5> <i class="fas fa-search"></i> Step 1</h5>
			    					<p>Join Nimrit.org Free & login</p>
			    				</li>
			    				<li style="margin-top: 2%;">
			    					<h5> <i class="fas fa-cart-plus"></i> Step 2</h5>
			    					<p>Click on the offer that you want. This will take you to seller website. In case coupoun code, please copy the code.</p>
			    				</li>
			    				<li style="margin-top: 2%;">
			    					<h5> <i class="fas fa-money-bill-alt"></i> Step 3</h5>
			    					<p>Shop normally at seller website . Pay as you normally do, including by Cash-on-delivery.</p>
			    				</li>
			    				<li style="margin-top: 2%;">
			    					<h5> <i class="fas fa-rupee-sign"></i> Step 4</h5>
			    					<p>Your Donations will track automatically & be added to your Nimrit.org account within 48 hours.</p>
			    				</li>
			    			</ul>
			    		</div>
			    	</div><!-- /Card -->
			    </div><!-- /Col-lg-9 -->
			    <div class="col-lg-9">
			    	<div class="container">
						<div class="col-md-12" style="margin-top: 2%;">
							<div class="search-result bg-gray">
								<h2 class="text-center">Select Category Wise Charity Offers</h2>
								<p><!-- 123 Results on 12 December, 2017 --></p>
								<ul class="nav nav-pills nav-justified">
								  {% for cat in store.categories.all %}
								  <li class="nav-item">
								  	<a href="{% url 'stores-list' cat.pk %}" class="nav-link btn btn-md"><i class="fa fa-laptop"></i> {{cat.name}}</a>
								  </li>
								  {% endfor %}
								</ul>
							</div>
						</div>
			    		<div class="row">
			    			{% for offer in offers %}
					            <div class="col-lg-4 col-md-6 mb-4">
					              <div class="card h-100">
					              	{% if offer.imageUrl %}
					              	<img src="{{MEDIA_URL}}offer.png" class="img-responsive" style="max-width: 20%; height: auto; display: block;vertical-align: middle;">
					              	<span data-id="{{ offer.pk }}" data-type="offer" data-action="bookmark" title="Favorites" style="position: absolute; right: 2px;">
									    {% if offer in request.user.offerbookmark_set.all %}
									    	<!-- <span class="fas fa-heart"></span> -->
									    	<i class="fas fa-heart" style="transform: scale(0.5); color: red;"></i>
									    {% else %}
									    	<i class="far fa-heart" style="transform: scale(0.5);"></i>
									    	<!-- <span class="far fa-heart"></span> -->
									    {% endif %}
									  	
									    <span data-count="bookmark">{{ offer.offerbookmark_set.all|length }}</span>
									</span>
					              	</span>
					                <!-- <a href="{% url 'store-details' store.pk %}"> --><img class="card-img-top" src="{{ offer.imageUrl }}" alt="" style="height: 50%; width: 50%; margin: 1% auto; overflow: hidden;"><!-- </a> -->
					                {% else %}
					                <!-- <a href="{% url 'store-details' store.pk %}"> --><img class="card-img-top" src="http://placehold.it/900x350" alt=""><!-- </a> -->
					                {% endif %}
					                <div class="card-body">
					                  <h5 class="" style="font-family: Calibri; text-transform: capitalize;">
					                    {{offer.title}}
					                  </h5>
					            	
					                  <p class="card-text">
					                  	<!-- <p>
					                  		<a href="" class="btn">{{ offer.category }}</a>
					                  	</p> -->
					                  	<small>Coupoun Code : {% if offer.coupoun_code %}<p>{{offer.coupoun_code}}</p> {% else %}<p>No Coupoun Code Required</p>{% endif %}</small>
					                  </p>
					                </div>
					                <div class="card-footer text-center">
					                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
					                  <a href="{{ offer.url }}" class="btn btn-block btn-warning" target="_blank">Grab this Offer</a>
					                  <p style="font-size: 0.5em;">is this your favourite offer, click the heart.</p>
					                </div>
					              </div>
					            </div>
					        {% endfor %}
			    		</div><!-- /row -->
			    		
			    			{% if is_paginated %}
						  <ul class="pagination justify-content-center mb-4">
						    {% if page_obj.has_previous %}
						      <li class="page-item">
					              
					              <a href="?page={{ page_obj.previous_page_number }}#offers"> <span class="page-link">&larr; Prev Page</span></a>
					           </li>
						    {% else %}
						      <li class="disabled page-item"><span class="page-link">&larr; Prev Page</span></li>
						    {% endif %}
						    {% for i in paginator.page_range %}
						      {% if page_obj.number == i %}
						        <li class="page-item active">
					              <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
					            </li>
						      {% else %}
						      {% endif %}
						    {% endfor %}
						    {% if page_obj.has_next %}
						      <li class="page-item">
					              <a href="?page={{ page_obj.next_page_number }}#offers"><span class="page-link">Next Page &rarr;</span></a>
					           </li>
						    {% else %}
						      <li class="disabled page-item"><span class="page-link">Next Page&rarr;</span></li>
						    {% endif %}
						  </ul>
						{% endif %}
			    		
					</div><!-- /Container -->
				</div><!-- /Col-lg-9 -->

				</div><!-- Row -->
            </div><!-- /Container -->
        </section><!-- /Section -->

 <section style="padding-bottom: 10%;">
   <div class="container">
   		<div class="search-result bg-gray">
			<h2>Similar Charity Stores</h2>
			<p>Find the similar charity stores with exclusive offers and deals</p>
		</div>
    <div class="carousel slide" data-ride="carousel" id="carouselExampleControls" style="height: 24rem;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    
                    <div class="card col-md mx-auto" style="width: 18rem; border: none;">
					  <img class="card-img-top" src="//placehold.it/1200x600/444" alt="Card image cap">
					  <div class="card-body mx-auto">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>

					  <div class="card col-md mx-auto" style="width: 18rem; border: none;">
						  <img class="card-img-top" src="//placehold.it/1200x600/ccff00" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="#" class="btn btn-primary">Go somewhere</a>
						  </div>
						</div>
					  <div class="card col-md" style="width: 18rem; border: none;">
						  <img class="card-img-top" src="//placehold.it/1200x600" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="#" class="btn btn-primary">Go somewhere</a>
						  </div>
						</div>
       			 </div>
       		</div>
            <div class="carousel-item">
                <div class="row">
                  

                      <div class="card col-md mx-auto" style="width: 18rem; border: none;">
					  <img class="card-img-top" src="//placehold.it/1200x600/" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>

					  <div class="card col-md mx-auto" style="width: 18rem; border: none;">
						  <img class="card-img-top" src="//placehold.it/1200x600/444" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="#" class="btn btn-primary">Go somewhere</a>
						  </div>
						</div>
					  <div class="card col-md mx-auto" style="width: 18rem; border: none;">
						  <img class="card-img-top" src="//placehold.it/1200x600/ddd" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="#" class="btn btn-primary">Go somewhere</a>
						  </div>
						</div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="fas fa-chevron-left" aria-hidden="true" style="transform: scale(2); color: blue;"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="fas fa-chevron-right" aria-hidden="true" style="transform: scale(2); color: blue;"></span>
		    <span class="sr-only">Next</span>
		  </a>
    </div>
</div>
   </section>

     <!-- FAQ 
    =================-->
    <section id="faq" class="faq" style="margin-top: 5%;">
      <div class="container-fluid"> 
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="faq-cont">
              <div class="faq-heading">
				<div class="search-result bg-gray">
						<h2>Frequently Asked Questions</h2>
						<p>Find the answer to all your questions. please read the following to know more about us.</p>
					</div>
				</div>
               	<div class="heading-border-light" style="background:#fff;"></div>
              </div>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0 card-title">
                        <div class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <i class="fa fa-long-arrow-right"></i>
                          Who are we? 
                        </div>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <p class="card-text">
                        	We are a not-for-profit social enterprise which is working in the remote areas to help the poor children to pursue their respective interests. We are professionals in different fields like engineering, computer science and computing, who have common interest to tackle the problem of lack of creative and life skills education to the children who are not good at grads. We help the poor grade students as well poor and higher grades students to help them achieve more through introducing them to technology. The only problem we see is the lack of instrastructure and money. So we provide digital libraries to help students to learn themselves through the knowledge of web. Other projects including sports training, instrastructure and employment will be our main focused projects.
                        </p>. 
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="fa fa-long-arrow-right"></i>
                          What we do? 
                        </div>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol type="a">
                       			<li>
                       				<p class="card-text">
                       					We provide digital libraries facilities in a particular center, where computers with internet connectivity and web cameras facilities are installed. We provide quality education through our virtual classroom technology to the children who are excellent or average on studies. Our virtual class technology will be available 18 hours a day, which is divided in slots. Our volunteer teachers from across top education institutes students, professionals and businessman signup for volunteer teacher positions.
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">In our coming years we will setup sports instrastructure where children will be professionally trained to become our future sports champions. We are also planning to open low cost residential   facility to our sports children so that they can focus more on their training.</p>
                       			</li>
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-2 -->

                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="fa fa-long-arrow-right"></i>
                          Whom do we benefit and How?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol type="a">
                       			<li>
                       				<p class="card-text">
                       					Since we provide our facilities to the unprivileged and poor students in terms of grads as well as financials, we provide our services to every needy students and we do not distinguish based upon religion, caste and creed. 
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">
                       					We will students who are good in sports to become our future champions, so our volunteer sports persons will provide training to our students, beneficiary students to sports and other programs will be selected solely on interest based. We charge a minimum fee to the students for every year. In case fees are not available to the family we exempt their annual fees.
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">
                       					Beneficiary students will have to return their dues to our organization once are earning well in their lives. In case of non-employment of our student we do not charge our dues.
                       				</p>
                       			</li>
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-3 --> 

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <i class="fa fa-long-arrow-right"></i>
                          How your shopping helps us raise funds?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol >
                       			<li>
                       				<p class="card-text">
                       					Every shopping of yours provide us some portion of your shopping amount as a charity donation, these donations funds will be used to build and scale our centers. 
                       				</p>
                       			</li>
                       			
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-4 --> 

                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <i class="fa fa-long-arrow-right"></i>
                          How will you spent the raised funds on your online shopping?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol >
                       			<li>
                       				<p class="card-text">
                       					We have partnered up with hundreds of online shopping sellers across the country as well as abroad, these sellers provide us some portion of every shopping, recharge or booking you do with us. 
                       				</p>
                       			</li>
                       			<li>
                       				<p class="card-text">
                       					So we are requesting all of you to visit our website and find the desired online seller then go to the online seller before every shop, recharge or booking you do. This is the only we are hoping to raise most of the funds for our projects. 
                       				</p>
                       			</li>
                       			
                       			<li>
                       				<p class="card-text">
                       					We also provide directly fund one of our projects through crowdfunding on our website. You can find the crowdfunding campaigns of one of our projects on the project page itself. We provide some basic rewards on every contribution you make to fund our projects.  
                       				</p>
                       			</li>

                       			<li>
                       				<p class="card-text">
                       					Members contribution to our funds will be our additional funds which will be used to manage the operational costs of our organization. Everyone is welcome to become our member and help us raise new heights In our vision of empowering poor lives. Please find our members form and fill up and submit, we reach you as soon as possible  
                       				</p>
                       			</li>
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-5 --> 

                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0 card-title">
                        <div class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <i class="fa fa-long-arrow-right"></i>
                          Who will be your volunteers, teachers and daily workers?
                        </div>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                       	
                       		<ol >
                       			<li>
                       				<p class="card-text">
                       					Every shopping of yours provide us some portion of your shopping amount as a charity donation, these donations funds will be used to build and scale our centers. 
                       				</p>
                       			</li>
                       			
                       		</ol>
                       	
                      </div>
                    </div>
                  </div><!-- /card-4 --> 

                </div>
            </div>  
          </div><!-- /md-10 -->

          <div class="col-md-1"></div>

        </div>
      </div>
    </section>

	<!--footer-->
	<footer style="margin-top: 5%;">
		<div class="container">
			<div class="footer-top-agileits-w3ls text-center">
				<h2 class="logo">
					<a href="index.html">
						<i class="fas fa-hands"></i> Nimrit <small>Foundation</small></a>
				</h2>
				<p class="para three mt-4">We are a for-profit social impact company. Our company is planning to build low-cost residential centers in remote areas, where our volunteer teachers will tecah poor, unprivilidged and drop-out school children life skills and computer expertise for e.g :- Digital Library, Virtual Class Center, Group Based Studies, Sports Training and Infrastructure. etc. As our goals are to empower the lives of millions by the support of other privilidged millions, who are in position of helping others.</p>
				<p class="para three mt-2">
					We are seeking for your support to help us raise funds on your every online payments that you make. So we request everyone to shop from our website, this converts some portion of your shopping amount into donations. We strongly think that this model will be sustainable because you can do charity at "no cost to the consumer". Now educating children is click away from your thumb. Let's be part of this movement and help us impact lives of millions. 
				</p>
			</div>
			<div class="text-center">
				<a href="{% url 'category-list' %}" class="btn btn-warning btn-block" style="max-width: 625px; margin: 2% auto;">View All Stores</a> 
				<a href="{% url 'contact-us' %}" class="btn btn-warning btn-block" style="max-width: 625px; margin: 2% auto;">Contact US</a> 
			</div>
			<div class="subscribe-grid text-center">
				<h5>Subscribe for our latest programs, news and updates</h5>
				<p>Get
					<span>Latest</span> offers and deals on shopping, booking, recharges, utility payments and many more exclusive contents.</p>
				<form action="#" method="post">
					<input class="form-control" type="email" placeholder="Subscribe" name="Subscribe" required="">
					<button class="btn1">
						<i class="far fa-envelope"></i>
					</button>
				</form>
			</div>
			<div class="row footer-bottom-wthree-agile">
				<div class="col-lg-6 copyright">
					<p>&copy; 2018 Nimrit Foundation - We Educate Poor Children . All Rights Reserved | Design by
						<a href="https://www.facebook.com/dustyraju">ImpactOcean Developers</a>
					</p>

				</div>
				<div class="col-lg-6 social-icon footer text-right">
					<div class="icon-social">
						<a target="_blank" href="https://www.facebook.com/statsbotSocialInnovations/" class="button-footr">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a target="_blank" href="https://twitter.com/StatsbotI" class="button-footr">
							<i class="fab fa-twitter"></i>
						</a>
						<a target="_blank" href="https://www.linkedin.com/company/statsbot-social-innovations/" class="button-footr">
							<i class="fab fa-linkedin"></i>
						</a>
						<a target="_blank" href="https://www.instagram.com/statsbot_org/" class="button-footr">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>


			</div>
			<!-- //footer -->
		</div>
	</footer>
	<!---->
	<!-- js -->
	<script  src="{{STATIC_URL}}jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--search-bar-->
	<script src="{{STATIC_URL}}search.js"></script>
	<!--//search-bar-->
	<!--/ start-smoth-scrolling -->
	<script  src="{{STATIC_URL}}move-top.js"></script>
	<script  src="{{STATIC_URL}}easing.js"></script>
	<script >
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->
	
	<script >
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

			// Getting a cookie by name
			function getCookie(name) {
			    var cookieValue = null;
			    if (document.cookie && document.cookie !== '') {
			        var cookies = document.cookie.split(';');
			        for (var i = 0; i < cookies.length; i++) {
			            var cookie = jQuery.trim(cookies[i]);
			            // Does this cookie string begin with the name we want?
			            if (cookie.substring(0, name.length + 1) === (name + '=')) {
			                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			                console.log(cookieValue);
			                break;
			            }
			        }
			    }
			    return cookieValue;
			}
			 
			// Setup AJAX
			$(function () {
			    $.ajaxSetup({
			        headers: { "X-CSRFToken": getCookie("csrftoken") }
			    });
			});

			function to_bookmarks()
			{
			    var current = $(this);
			    var type = current.data('type');
			    var pk = current.data('id');
			    var action = current.data('action');

			    var icon=document.createElement('i');
			    icon.classList.add("fas");
			    icon.classList.add("fa-heart");
			    $.ajax({
			        url : "/web/" + type + "/" + pk + "/" + action + "/",
			        type : 'POST',
			        data : { 'obj' : pk, },

			        success : function (json) {
			            //current.find("[data-count='" + action + "']").text(json.count);
			            
			            if(json.result===true){
			            	current.html('<i class="fas fa-heart" style="transform: scale(0.5);"></i><span data-count="bookmark">'+json.count+'</span>');
			            }else{
			            	current.html('<i class="far fa-heart" style="transform: scale(0.5);"></i><span data-count="bookmark">'+json.count+'</span>');
			            }
			        }
			    });

			    return false;
			}

			$(function() {
			    $('[data-action="bookmark"]').click(to_bookmarks);
			});


		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script  src="{{STATIC_URL}}bootstrap.js"></script>


</body>

</html>